
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
}

.navbar-custom {
    background-color: #1474c6;
    box-shadow: -3px 1px 4px 2px rgba(0, 0, 0, 0.5);
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #ffffff;
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: #ffffff !important;
}
/* change the color of active or hovered links */
.navbar-custom .nav-link.active ,
.navbar-custom .nav-link:focus,
.navbar-custom .nav-link:hover {
    color: #548fdb;
}

.navbar-custom .dropdown-menu {
    background-color: #1474c6;
}

.navbar-custom .dropdown-menu .dropdown-item{
    color: #fff;
}

.navbar-custom .dropdown-item:hover,.navbar-custom  .dropdown-item:focus{
    background-color: #548fdb;
}

body{
    background-color: #548fdb;
    background-image: url('/image/background-villamares.png') !important;
}

.card-cash-register .card-body{
    background-color: #548fdb;
    color: #fff;
}

.table-transparent{
    color: #fff;
}

.btn-group-block{
    width: 100%;
}

.form-search-villamares{
    color: #fff;
    font-weight: bold;
}

.btn-villamares{
    background-color: #1ab096;
    color: #fff;
}

.info-row{
    padding: 10px;
}

.tab-content > .tab-pane {
    padding-top: 20px;
}

.container-accounting-admin{
    background-color: #fff;
    padding: 20px;
    border-radius: 25px;
}
.img-constitution{
    max-width: 500px;
}
.coma-servicios:last-child{
    display: none;
}

.title-row h1 {
    color: #fff;
}
